html {
	background-color: #b6c7bd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;

}

li {
	float: left;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	text-align: center;
	color:#7e747e;
}

  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
 

title {
	text-align: center;
	color: #4a174d;
	font-size: 60px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;

}

img {
	heighth: 500px
	width: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

h1 {
	color: #4a174d;
	font-size: 40px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

h2 {
	color: #4a174d;
	font-size: 40px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

p{
	color: #7e747e;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

h3 {
	color: #4a174d;
	font-size: 25px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}
