html {
	background-color: #b6c7bd;
}

ul {
	display: inline;
}

.active {
    background-color: #4a174d;
    color: white;
}

title {
	color: #4a174d;
	font-size: 200%;
	font-family: roboto;
	font-weight: bold;

}

h1 {
	color: #4a174d;
	font-size: 100%;
	font-family: roboto;
}

h2 {
	color: #4a174d;
	font-size: 100%;
	font-family: roboto;
}

p{
	color: #7e747e;
	font-size: 50%;
	font-family: roboto;
}
