html {
	background-color: #b6c7bd;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
	display: inline;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 25px;
	text-align: center;
}

.active {
    background-color: #4a174d;
    color: white;
}

title {
	text-align: center;
	color: #4a174d;
	font-size: 60px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;

}

div {
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    border-style: dotted;
    border-color: #4a174d ;
    border-width: 5px;
    text-align: center;
}

img {
	height: 400px
	width: 400px;
}
}
h1 {
	color: #4a174d;
	font-size: 40px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

h2 {
	color: #4a174d;
	font-size: 40px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

p{
	color: #7e747e;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}
